<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button>
    </ion-menu-button>
  </ion-buttons>
  <ion-item lines="none">
    <ion-label>
      My Trips
    </ion-label>
  </ion-item>
</ion-toolbar>
</ion-header>

<ion-content>
<img style="max-width: 75%;margin-left: 12.5%;" src="assets/icon/travel-bag.jpg">
<ion-item lines="none">
  <ion-label>
    <h6 style="font-size: 13.8px;">There are no pending trips. Proceed to make your trip with us</h6>
  </ion-label>
</ion-item>
</ion-content>

<ion-footer>
  <app-tabs-comp></app-tabs-comp>
</ion-footer>
