
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-label>
        <span style="font-size: 22px;margin-left: 30%;">Trip Easy</span>
      </ion-label>
    </ion-item>
  </ion-toolbar>

<ion-content>
  <img src="assets/icon/non-stop.gif">
  <ion-item lines="none">
    <ion-label>
      <h2 style="text-align: center;"><b>Book Cheapest Flight</b></h2>
      <h6 style="white-space: normal; text-align: center;">We compare prices from 200+ booking site to help you find the lowest price</h6>
    </ion-label>
    </ion-item>
    <ion-grid padding>
      <ion-row>
        <ion-col size="6">
          <ion-card style="--background: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff)">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <ion-icon style="font-size: 40px;color: #3d97ca;margin-top: 10px;" name="paper-plane-outline"></ion-icon>
              </ion-col>
              <ion-col size="12" style="margin-top: -10px;text-align: center;">
                <ion-card-subtitle style="font-size: 18px;color: white;">Flight</ion-card-subtitle>
              </ion-col>
              <ion-col size="12" style="text-align: center;">
                <ion-label style="color: white;">
                  2000 flights
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card style="--background: linear-gradient(to top, #cac531, #f3f9a7);">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <ion-icon style="font-size: 40px;color:#888650;margin-top: 10px;" name="bed-outline"></ion-icon>
              </ion-col>
              <ion-col size="12" style="margin-top: -10px;text-align: center;">
                <ion-card-subtitle style="font-size: 18px;color: white;">Hotel</ion-card-subtitle>
              </ion-col>
              <ion-col size="12" style="text-align: center;">
                <ion-label style="color: white;">
                  2000 hotels
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card style="--background: linear-gradient(to left, #56ab2f, #a8e063);">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <ion-icon style="font-size: 40px;color:#568e15;margin-top: 10px;" name="car-outline"></ion-icon>
              </ion-col>
              <ion-col size="12" style="margin-top: -10px;text-align: center;">
                <ion-card-subtitle style="font-size: 18px;color: white;">Car</ion-card-subtitle>
              </ion-col>
              <ion-col size="12" style="text-align: center;">
                <ion-label style="color: white;">
                  2000 cars
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card style="--background: linear-gradient(to top, #654ea3, #eaafc8);">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <ion-icon  style="font-size: 40px;color:#775aa8;margin-top: 10px;" name="wallet-outline"></ion-icon>
              </ion-col>
              <ion-col size="12" style="margin-top: -10px;text-align: center;">
                <ion-card-subtitle style="font-size: 18px;color: white;">Super Deal</ion-card-subtitle>
              </ion-col>
              <ion-col size="12" style="text-align: center;">
                <ion-label style="color: white;">
                  2000 deals
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
        
      </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
  <app-tabs-comp></app-tabs-comp>
</ion-footer>
