<ion-header>
  <ion-toolbar>
    <ion-icon style="margin-left: 10px;" class="arrow" name="arrow-back" slot="start" (click)="goBack()"></ion-icon>
    <ion-item lines="none" class="toolbar-item">
      <ion-label>
        Notifications
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/icon/no-notifications.gif">
<ion-item lines="none">
  <ion-label style="text-align: center;">
    <h6 style="font-size: 13.8px;">There are currently no notifications.</h6>
  </ion-label>
</ion-item>

</ion-content>
